doctype html
html(lang="en")

head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="")
    meta(name="author" content="")
    title=title
    link(rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
        crossorigin="anonymous"
    )
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous")
    script(src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js") 

body

    main(role="main" class="container")
        center
            h1#movieTitle(class="mt-5" style="color:#00004d; background-color:orange" )
            marquee(behavior="slide", direction="right" scrollamount="70" style="font-family:Impact; color:#00004d;") Powered by UnionBank
        div(class="panel panel-primary")
            
            div(class="panel-body") 
            
                if isSuccess
                    div(class="alert alert-success")
                        strong Success! 
                            span=message

                form(method="post"  id="myForm" class="form" action="/shops_add")
                    input(type="hidden" name="id" id="id" class="form-control")

                    div(class="col-md-12 form-group")
                        label(for="title") ITEM
                        input(type="text" name="title" id="title" placeholder="input item name" class="form-control" )

                    div(class="col-md-12 form-group")
                        label(class="note-form-label") Select Images
                        input(class="note-image-input note-form-control note-input" type="file" name="files" id="files" accept="image/*" multiple="multiple")
                        br
                        img(id='imgproduct' width="100px" height="100px")
                    div(class="col-md-12 form-group")
                        div(class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value")
                            label(for="quantity") QUANTITY 
                            br
                            input(type="number" id="quantity" value="0" name="quantity")
                        div(class="value-button" id="increase" onclick="increaseValue()" value="Increase Value")

                    div(class="col-md-12 form-group")
                        label(for="price") PRICE
                        input(type="text" name="price" id="price" placeholder="input amount" class="form-control" )
                        
                    div(class="col-md-6 form-group")
                        button(type="submit" id="submit" class="btn btn-primary") Add Item
                        span 
                        button#clearBtn(type="button" class="btn btn-default") Clear
                
                div(class="col-md-12 form-group")
                 div(class="panel panel-primary")
                    div(class="panel-heading") PRODUCT LIST
                    div(class="panel-body")
                     table(class="table table-bordered")
                        thead
                            tr
                                td
                                    center ITEM
                                td
                                    center QUANTITY
                                td
                                    center PRICE 
                                td  
                                    center PRODUCT IMAGE
                                td
                                    center ACTION
                                    
                        tbody
                            each n in shop
                        
                                tr
                                    td=n.title
                                    td=n.quantity
                                    td &#8369 
                                        =n.price 
                                    td
                                        center=n.files
                                            br
                                            img(id='imgproduct' width="100px" height="100px")
                                    td
                                            p(align="right")
                                                button(type="button" class="btn btn-success" onclick="getDetails("+n.id+")") UPDATE
                                                span &nbsp
                                                button(type="button" class="btn btn-danger" onclick="deleteTask("+n.id+")") DELETE
    script(src='/js/main.js')
        